.Node .NodeInput{
    height: 8vh;
    width: 8vh;
    text-align: center;
    font-size: 6vh;
    padding: 0%;
    border: solid 0.1rem;
}

.BoldTop {
    border-top: solid 0.3rem !important;
}

.BoldRight {
    border-right: solid 0.3rem !important;
}

.BoldBottom {
    border-bottom: solid 0.3rem !important;
}

.BoldLeft {
    border-left: solid 0.3rem !important;
}


.NodeInput:focus {
    background-color: #c2fffe;
    outline: none;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}